// Start Nav

.botonera{
    background-color: $navColor;
    div{
        a{
            img{
                width: 250px;
                &:hover{
                    transition: all 0.5s ease;
                    transform: scale(1.03);
                }
            }
        }
        button{
            border: none;
            background-color: #555;
            &:hover{
                @include animation-bhover($hoverColor, 0.3s, 1)
            }
        }
        div{
            ul{
                li{
                    a{
                        color: white;
                        &:hover{
                            @include animation-hover($hoverColor, 0.3s, 1.1)
                        }
                    }
                }
            }
            form{
                button{
                    color: white;
                    background-color: #555;
                    border: none;
                    &:hover{
                        @include animation-bhover($hoverColor, 0.3s, 1)
                    }
                    img{
                        width: 24px;
                        height: auto;
                    }
                }
            }
        }
    }
}

.carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.1px 12px;
    margin-left: 0.5em;
    img{
        width: 24px;
        height: auto;
    }
}

// End Nav